

<script>
export default {
    async mounted() {
        var response = await fetch('http://localhost:8000/api/videos');
        var videos = await response.json();
        this.videos = videos;
    },
    data() {
        return {
            videos: []
        }
    }

}
</script>

<template>
    <h1>Elenco video</h1>

    <div v-for="video in videos" :key="video.id">
        <router-link :to="{ path: '/video/' + video.id }">
            <span>{{ video.title }}</span>
        </router-link>
    </div>

</template>