
<script>
export default {
    async mounted() {
        var videoId = this.$route.params.id;
        var response = await fetch('http://localhost:8000/api/videos/' + videoId);
        var videos = await response.json();
        this.video = videos[0];
    },
    data() {
        return {
            video: null
        }
    }
}
</script>


<template>
    <div>Guarda video</div>
    <iframe v-if="video != null" width="560" height="315" :src="video.url" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

</template>